<!-- Used by theme-bio-builtin-1 -->

{% if site.data.bio.activity-service %}
<div class="row">
  <div class="two wide column">
    <h3 class="ui left aligned header no-bottom">Professional Activities & Service</h3>
  </div>

  <div class="fourteen wide column no-bottom">
    {% for entry in site.data.bio.activity-service %}

    <div class="ui grid">
      <div class="sixteen wide column no-bottom">
        <p class="ui no-bottom">
	  <b>{{ entry.role }}</b>, {{ entry.summary }}
	  {% if entry.date == "" %} 
	  {% else %} 
	    ({{ entry.date }})
	  {% endif %}
        </p>
      </div>
    </div>

    {% endfor %}
  </div>
</div>
{% endif %}
